.todo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: aqua;
    min-height: 100vh;
    padding: 2vmax;
}
.todo-box{
    width: 30%;
    padding: 1vmax;
    border: 1px solid black;
}
.list{
    padding: 0.5vmax;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0.2vmax;
}
.input{
    width: 100%;
}